<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>DataPup</title>
    <link href="static/css/style.css" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-inverse bg-primary navbar-light bg-faded">
      <a class="navbar-brand" href="/">
          DataPup<img src="static/img/logo.gif" alt="DataPup logo" class="main-logo"/>
      </a>
    </nav>
  </body>
</html>
