<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Anna Fleming">

    <title>DataPup</title>
    <link href="static/css/app.css" rel="stylesheet">
    <link href="static/vendor/font-awesome/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>

<body>
  <div id="app">
    <div id="wrapper">
          <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">

              <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="/">DataPup</a>
              </div>

              <div class="collapse navbar-collapse navbar-ex1-collapse">
                  <ul class="nav navbar-nav side-nav">
                      <li class="active">
                          <router-link to="/"><i class="fa fa-fw fa-dashboard"></i> Dashboard</router-link>
                      </li>
                      <li>
                          <a href="javascript:;" data-toggle="collapse" data-target="#menu-charts"><i
                                  class="fa fa-fw fa-bar-chart-o"></i> Charts <i class="fa fa-fw fa-caret-down"></i></a>
                          <ul id="menu-charts" class="collapse">
                              <li>
                                  <router-link to="/charts/finished_survey">Finished the survey</router-link>
                              </li>
                              <li>
                                  <router-link to="/charts/completed_survey">Completed the purpose</router-link>
                              </li>
                              <li>
                                  <router-link to="/charts/feedback_type">Product vs Website</router-link>
                              </li>
                              <li>
                                  <router-link to="/charts/website_rating">Website rating</router-link>
                              </li>
                              <li>
                                  <router-link to="/charts/product_rating">Product rating</router-link>
                              </li>
                          </ul>
                      </li>
                      <li>
                          <a href="javascript:;" data-toggle="collapse" data-target="#menu-responses"><i
                                  class="fa fa-fw fa-comment"></i> Survey responses <i class="fa fa-fw fa-caret-down"></i></a>
                          <ul id="menu-responses" class="collapse">
                              <li>
                                  <router-link to="/responses/petsafe">PetSafe</router-link>
                              </li>
                              <li>
                                  <router-link to="/responses/sportdog">SportDOG</router-link>
                              </li>
                          </ul>
                      </li>
                  </ul>
              </div>
          </nav>

          <div id="page-wrapper">
              <div class="container-fluid">
                <refresh></refresh>
                <router-view></router-view>
              </div>
          </div>
    </div>
  </div>

  <script src="static/js/jquery.js"></script>
  <script src="static/js/bootstrap.min.js"></script>
  <script src="static/js/app.js"></script>

</body>

</html>
